{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="card form">
    <label for="username">Username</label>
    <input name="username" id="username" required placeholder="seu_usuario">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required placeholder="••••••••">
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}